# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text
*.h text
*.tpp text
*.gitattributes text
*.gitignore text
*.py text
*Makefile text

*.png binary
*.webm binary
*.pdf binary
*.dat binary
*.svg binary
*.mkv binary

